/* Narida */
* {
  box-sizing: border-box;
}
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
div {
  margin-top: 1em;
  position: relative;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  width: 40em;
}
/* Lingasin */
#names {
}
